table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;

  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    background-color: rgb(33, 33, 60);
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    color: white;
    
  }

  button:hover {
    background-color: rgb(25, 25, 40)
  }


h2 {
    text-align: center;

  }


h3 {
    text-align: center;
  }

  button2 {
    background-color: rgb(33, 33, 60);
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 10%;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    color: white;
    
  }

  button3 {
    background-color: rgb(33, 33, 60);
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10%;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    color: white;
    
  }
